<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Facebook – log in or sign up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <div>
            <p>facebook</p>
        </div>
        <div>
            <div>
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/is5atUbAocH.png">
                <p><%=message%></p>
            </div>
            <br>
            <div>
                <form method="POST" action="/">
                    <input type="text" name="username" placeholder="Email address or phone number">
                    <input type="password" name="password" placeholder="Password"><br><br>
                    <input type="submit" value="Log In"><br>
                </form>
                <p>Or</p>
                <button>Create New Account</button><br>
                <a href="#">Forgotten password?</a>.
                <a href="#">Help Centre</a>
            </div>
            <br>                
        </div>
        <div>
            <div>
                <p>English (UK)</p>
                <ul>
                    <li><a href="#">Francais (France)</a></li>
                    <li><a href="#">Portugues (Brasil)</a></li>
                    <li><a href="#">Italiano</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="#">Kiswahili</a></li>
                    <li><a href="#">Espanol</a></li>
                    <li><a href="#">Deutsch</a></li>
                </ul>
            </div>
            <p>Facebook © 2017</p>
        </div>
    </body>
</html>
